@model (Autor autor, List<Livro> Obras);

<div class="container d-flex flex-row justify-content-center" style="height: 550px;">
    <img src="~/images/@Model.autor.ImageName" alt="Imagem do Livro" class="img-thumbnail m-5" style="max-height: 750px; object-fit: contain;">
    <div class="align-content-center d-flex flex-column gap-3 m-5 align-self-center">
        <h1 class="fw-bold">Nome: <span class="fw-normal">@Model.autor.Nome</span></h1>
        <p style="text-align:justify;" class="me-5">@Model.autor.Descricao</p>
    </div>
</div>

<h2 class="text-center"><b>Mais obras deste autor:</b></h2>

<div id="carousel1" class="carousel slide mb-6">
  <div class="carousel-inner">
    @for (int i=0; i< Model.Obras.Count; i+=3) 
    {
      <div class="carousel-item @(i==0 ? "active" : "")">
        <div class="row justify-content-center">
          @for (int j=i;j<i+3;j++) {
            @if (j<Model.Obras.Count) {
              <div class="mb-4 col d-flex flex-column me-5 ms-5" style="max-width: 300px;">
                  <div class="container-sm border rounded-4 border-3 p-4 bg-success d-flex flex-column">
                      <h4 class="fw-bold text-center">@Model.Obras[j].Titulo</h4>
                      <a asp-controller="Biblioteca" asp-action="Livro" asp-route-id="@Model.Obras[j].Id" class="align-self-center"><img src="~/images/@Model.Obras[j].ImageName" alt="Cabajo" class="img-thumbnail rounded-4 hover-transform" style="max-height: 300px; object-fit: contain;"></a>
                  </div>
              </div>
            }
          }
        </div>
      </div>
    }
  
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>